@{ 
    ViewBag.Title = "Not found";
}

<h1>Nu a fost găsit</h1>
<h2>@ViewBag.ErrorMessage</h2>

<a asp-controller="Home" asp-action="Index">
    Apasă aici pentru a te întoarce la pagina principală
</a>