<h2>@Model.CurrentCategory</h2>

<div class="row">
    @{
        foreach (Product product in Model.Products)
        {
            @await Html.PartialAsync("_ProductsSummary", product)
        }
    }
</div>
